body, head{
    background-color: rgb(204, 237, 247);    
    margin: 25px;
}
label{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px;
    
}
.form{
    margin-top: 10px;
}
.num{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 20%;
    border-radius: 5%;
    background-color: #2d9e2a;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}